/**************************************************************
 * BLACK SCHEME V1.1
**/

/**************************************************************
 * CORE
**/

/* Background for whole page and some static overlays
 */
 html,
 .controls,
 .icinga-module.module-monitoring .monitoring-statusbar,
 #toggle-sidebar i {
     background: hsl(0, 0%, 0%) !important;
 }
 
 
 /* Text coloring
  */
 th,
 label,
 ::placeholder,
 #layout,
 .link-description,
 .control-info,
 .form-info,
 .icinga-module.module-monitoring .overview-plugin-output,
 .icinga-module.module-monitoring .host-meta,
 .icinga-module.module-monitoring .service-meta,
 .comment-time {
     color: hsl(0, 0%, 40%) !important;
 }
 
 /* Text highlits (headers and links in headers)
  */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 h1 > a,
 h2 > a,
 h3 > a,
 h4 > a,
 h5 > a,
 h6 > a,
 input.search {
     color: hsl(0, 0%, 90%) !important;
 }
 
 /* Hover & focus
  */
 #menu .nav-level-1 > .nav-item > a:hover,
 #menu .nav-level-2 > .nav-item:hover,
 #menu .nav-level-2 > .nav-item.active:hover,
 #layout:not(.minimal-layout).sidebar-collapsed #menu .nav-level-1 > .nav-item.hover > .nav-level-2 > .nav-item > a:hover,
 #layout:not(.minimal-layout).sidebar-collapsed #menu .nav-level-1 > .nav-item.hover > .nav-level-2 > .nav-item > a:focus,
 #layout:not(.minimal-layout) #menu .nav-level-1 > .nav-item:not(.active).hover > .nav-level-2 > .nav-item > a:hover,
 #layout:not(.minimal-layout) #menu .nav-level-1 > .nav-item:not(.active).hover > .nav-level-2 > .nav-item > a:focus .icinga-module.module-monitoring .state-table tr[href]:hover,
 .icinga-module.module-monitoring .state-table tr[href]:hover,
 .common-table tr[href]:hover,
 .tabs > li > a:focus,
 .tabs > li > a:hover,
 .tabs > .dropdown-nav-item:hover > a,
 .tabs > .dropdown-nav-item > a:focus,
 .tabs > li > .close-container-control:focus,
 .tabs > li > .close-container-control:hover,
 .tabs > li > .refresh-container-control:focus,
 .tabs > li > .refresh-container-control:hover,
 .tabs > .dropdown-nav-item > ul > li:hover > a,
 .pagination-control li > a:hover,
 .dashboard-link:hover,
 #toggle-sidebar:hover i,
 #toggle-sidebar:focus i,
 .comment-list > dt:hover,
 .tabs > .dropdown-nav-item > ul > li:hover > a,
 input.search:focus {
     background: hsla(0, 0%, 100%, .12) !important;
     color: hsl(0, 0%, 100%) !important;
 }
 
 /* Textal hover
  */
 a:hover,
 #about .about-links i:hover,
 #about .about-social i:hover {
     color: hsl(0, 0%, 100%) !important;
 }
 
 /* Selected / Active
  */
 .tabs > li.active > a,
 #menu .nav-level-1 > .nav-item.active > a,
 #menu .nav-level-2 > .nav-item.active,
 .pagination-control li.active > a,
 .pagination-control li.active > a:hover,
 .icinga-module.module-monitoring .state-table tr[href].active,
 .common-table tr[href].active,
 input.search.active {
     background: hsl(0, 0%, 0%) !important;
     color: hsl(0, 0%, 80%) !important;
 }
 /* Different color for navigation lv. 1
  */
 #menu .nav-level-1 > .nav-item.active {
     background: hsl(0, 0%, 0%);
 }
 
 
 /**************************************************************
  * NAVIGATION
 **/
 
 /* Sidebar menu & Popup color
  */
 #layout:not(.minimal-layout).sidebar-collapsed #menu .nav-level-1 > .nav-item.hover > .nav-level-2,
 #layout:not(.minimal-layout) #menu .nav-level-1 > .nav-item:not(.active).hover > .nav-level-2,
 .tabs > .dropdown-nav-item > ul {
     background: hsl(0, 0%, 0%) !important;
 }
 
 /* Link color and icon links
  */
 a,
 .link-button,
 button > i[class^="icon-"],
 button > i[class*=" icon-"] {
     color: hsl(0, 0%, 60%) !important;
 }
 
 /* Button
  */
 .control-button,
 input[type="submit"],
 .button-link {
     border: 1px solid hsl(0, 0%, 60%);
     background: hsl(0, 0%, 0%);
     color: hsl(0, 0%, 60%);
 }
 .control-button:focus,
 .control-button:hover,
 input[type="submit"]:focus,
 input[type="submit"]:hover,
 .button-link:hover {
     background: hsl(0, 0%, 60%);
     color: hsl(0, 0%, 0%) !important;
 }
 
 
 /**************************************************************
  * IMPROVING READIBILITY
 **/
 
 /* Service and its output are slightly highlighted
  */
 .selectable,
 .icinga-module.module-monitoring .plugin-output {
     color: hsl(0, 0%, 64%);
 }
 
 /* Dim links inside second column content area
  */
 #col2 .content a,
 #col2 .content button {
     opacity: 0.5;
 }
 
 
 /**************************************************************
  * ESSENTIALS
 **/
 
 /* Input types have foreground color
  */
 button, input, optgroup, select, textarea {
     background: hsla(0, 0%, 100%, .05);
     color: hsl(0, 0%, 100%) !important;
     border: none;
 }
 
 /* NO hover decoration
  */
 .tabs > li > a:hover {
     text-decoration: none;
 }
 
 /* Disabled pagination
  */
 .pagination-control li.disabled {
     color: hsl(0, 0%, 25%);
 }
 
 /* Table headers are alwas in bold 
  */
 th, label {
     font-weight: bold !important;
 }
 
 /* Blockquote
  */
 .icinga-module.module-monitoring .plugin-output {
     border-color: hsl(0, 0%, 100%);
 }
 
 
 /* Tell the user what scheme is used in a really intelligent way.
  */
 #about > table:after {
     position: relative;
     top: 8px;
 
     /* Fix the table!! */
     margin-left: -200px;
     left: 100px;
 
     /* Strawberry topping */
     padding: 4px;
     border-top: 1px solid hsla(0, 0%, 100%, .1);
     border-bottom: 1px solid hsla(0, 0%, 100%, .05);
 
     content: "Black scheme V1.1/20191123";
 }
 
 
 /**************************************************************
  * MONITORING COLORS
 **/
 
 /* Green
  */
 .icinga-module.module-monitoring .state-col.state-ok,
 .icinga-module.module-monitoring .state-col.state-up {
     background: rgba(0, 170, 0, .1);
     border-left: 6px solid #0A0;
     color: rgba(0, 170, 0, .6);
 }
 .icon-stateful.state-ok {
     color: #0A0;
 }
 .icinga-module.module-monitoring .service-grid-link.state-ok,
 .icinga-module.module-monitoring div.box.ok_hosts.state_up {
     background: #0A0;
 }
 
 /* Warning
  */
 .icinga-module.module-monitoring .state-col.state-warning {
     background: rgba(255, 119, 0, .25);
     border-left: 6px solid #F70;
     color: #F70;
 }
 .icinga-module.module-monitoring .state-col.state-warning.handled {
     background: rgba(204, 85, 0, .1);
     border-left: 6px solid #C50;
     color: rgba(204, 85, 0, .6);
 }
 .icinga-module.module-monitoring .service-grid-link.state-warning {
     background: #F70;
 }
 .icinga-module.module-monitoring .service-grid-link.state-warning.handled {
     background: #C50;
     border: 2px solid #F70;
 }
 
 /* Critical
  */
 .icinga-module.module-monitoring .state-col.state-critical,
 .icinga-module.module-monitoring .state-col.state-down {
     background: rgb(255, 0, 0, .25);
     border-left: 6px solid #F00;
     color: #F00;
 }
 .icinga-module.module-monitoring .state-col.state-critical.handled,
 .icinga-module.module-monitoring .state-col.state-down.handled {
     background: rgba(204, 0, 0, .1);
     border-left: 6px solid #C00;
     color: #C00;
 }
 .icinga-module.module-monitoring .service-grid-link.state-critical,
 .icinga-module.module-monitoring div.box.problem_hosts.state_down {
     background: #F00;
 }
 .icinga-module.module-monitoring .service-grid-link.state-critical.handled {
     background: #C00;
     border: 2px solid #F00;
 }
 
 /* Unknown
  */
 .icinga-module.module-monitoring .state-col.state-unknown {
     background: rgba(204, 0, 204, .25);
     border-left: 6px solid #C0C;
     color: #C0C;
 }
 .icinga-module.module-monitoring .state-col.state-unknown.handled {
     background: rgba(136, 0, 136, .12);
     border-left: 6px solid #808;
     color: #808;
 }
 .icinga-module.module-monitoring .service-grid-link.state-unknown {
     background: #808;
 }
 .icinga-module.module-monitoring .service-grid-link.state-unknown.handled {
     background: #808;
     border: 2px solid #C0C;
 }
 
 /* Pending
  */
 .icinga-module.module-monitoring .state-col.state-pending {
     background: rgba(0, 0, 170, .25);
     border-left: 6px solid #00A;
     color: #00A;
 }
 
 
 /**************************************************************
  * BADGE COLORS
 **/
 .badge {
     background: hsl(0, 0%, 32%);
     color: #fff !important;
 }
 .badge.state-ok,
 .badge.state-up {
     background: #0A0;
 }
 .badge.state-warning {
     background: #F70;
 }
 .badge.state-warning.handled {
     background: #C50;
 }
 .badge.state-critical,
 .badge.state-down {
     background: #F00;
 }
 .badge.state-critical.handled {
     background: #C00;
 }
 .badge.state-unknown {
     background: #C0C;
 }
 .badge.state-unknown.handled {
     background: #808;
 }
 
 
 /**************************************************************
  * BOTTOM NOTIFICATION PANEL COLORS
 **/
 #notifications > li.success {
     background: #0A0;
 }
 #notifications > li.warning {
     background: #F70;
 }
 #notifications > li.error {
     background: #F00;
 }
 
 
 /**************************************************************
  * HISTORY TIMELINE
 **/
 .icinga-module.module-monitoring .timeline-notification {
     background: #458588;
 }
 .icinga-module.module-monitoring .timeline-hard-state {
     background: #FE8019;
 }
 .icinga-module.module-monitoring .timeline-comment {
     background: #83A598;
 }
 .icinga-module.module-monitoring .timeline-ack {
     background: #D79921;
 }
 .icinga-module.module-monitoring .timeline-downtime-start {
     background: #928374;
 }
 .icinga-module.module-monitoring .timeline-downtime-end {
     background: #D5C4A1;
 }
 
 
 /**************************************************************
  * MONITORING HEALTH
 **/
 .icinga-module.module-monitoring div.backend-running {
     background: #0A0;
 }
 .icinga-module.module-monitoring div.backend-not-running {
     background: #F00;
 }
 
 
 /**************************************************************
  * LOGIN PAGE
 **/
 
 #login .login-form {
     background: hsl(0, 0%, 10%);
 }
 #icinga-logo.invert {
     background-image: url('../img/icinga-logo-big.svg');
 }
 #login-footer {
     color: hsl(0, 0%, 40%) !important;
 }
 
 #login .control-label {
     color: hsl(0, 0%, 64%) !important;
 }
 
 #login input[type=submit] {
     background: hsl(0, 0%, 25%);
     color: hsl(0, 0%, 0%) !important;
 }
 #login input[type=submit]:hover {
     background: hsl(0, 0%, 0%);
     color: hsl(0, 0%, 30%) !important;
 }
