/**************************************************************
 * GRUVBOX SCHEME V1
**/

/**************************************************************
 * CORE
**/

/* Background for whole page and some static overlays
 */
html,
.controls,
.icinga-module.module-monitoring .monitoring-statusbar,
#toggle-sidebar i {
    background: #282828 !important;
}


/* Text coloring
 */
th,
label,
::placeholder,
#layout,
.link-description,
.control-info,
.form-info,
.icinga-module.module-monitoring .overview-plugin-output,
.icinga-module.module-monitoring .host-meta,
.icinga-module.module-monitoring .service-meta,
.comment-time {
    color: #928374 !important;
}

/* Text highlits (headers and links in headers)
 */
h1,
h2,
h3,
h4,
h5,
h6,
h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a,
input.search {
    color: #EBDBB2 !important;
}

/* Hover & focus
 */
#menu .nav-level-1>.nav-item>a:hover,
#menu .nav-level-2>.nav-item:hover,
#menu .nav-level-2>.nav-item.active:hover,
#layout:not(.minimal-layout).sidebar-collapsed #menu .nav-level-1>.nav-item.hover>.nav-level-2>.nav-item>a:hover,
#layout:not(.minimal-layout).sidebar-collapsed #menu .nav-level-1>.nav-item.hover>.nav-level-2>.nav-item>a:focus,
#layout:not(.minimal-layout) #menu .nav-level-1>.nav-item:not(.active).hover>.nav-level-2>.nav-item>a:hover,
#layout:not(.minimal-layout) #menu .nav-level-1>.nav-item:not(.active).hover>.nav-level-2>.nav-item>a:focus .icinga-module.module-monitoring .state-table tr[href]:hover,
.icinga-module.module-monitoring .state-table tr[href]:hover,
.common-table tr[href]:hover,
.tabs>li>a:focus,
.tabs>li>a:hover,
.tabs>.dropdown-nav-item:hover>a,
.tabs>.dropdown-nav-item>a:focus,
.tabs>li>.close-container-control:focus,
.tabs>li>.close-container-control:hover,
.tabs>li>.refresh-container-control:focus,
.tabs>li>.refresh-container-control:hover,
.tabs>.dropdown-nav-item>ul>li:hover>a,
.pagination-control li>a:hover,
.dashboard-link:hover,
#toggle-sidebar:hover i,
#toggle-sidebar:focus i,
.comment-list>dt:hover,
.tabs>.dropdown-nav-item>ul>li:hover>a,
input.search:focus {
    background: #504945 !important;
    color: #FBF1C7 !important;
}

/* Textal hover
 */
a:hover,
#about .about-links i:hover,
#about .about-social i:hover {
    color: #FBF1C7 !important;
}

/* Selected / Active
 */
.tabs>li.active>a,
#menu .nav-level-1>.nav-item.active>a,
#menu .nav-level-2>.nav-item.active,
.pagination-control li.active>a,
.pagination-control li.active>a:hover,
.icinga-module.module-monitoring .state-table tr[href].active,
.common-table tr[href].active,
input.search.active {
    background: #3C3836 !important;
    color: #EBDBB2 !important;
}

/* Different color for navigation lv. 1
 */
#menu .nav-level-1>.nav-item.active {
    background: #32302F;
}


/**************************************************************
 * NAVIGATION
**/

/* Sidebar menu & Popup color
 */
#layout:not(.minimal-layout).sidebar-collapsed #menu .nav-level-1>.nav-item.hover>.nav-level-2,
#layout:not(.minimal-layout) #menu .nav-level-1>.nav-item:not(.active).hover>.nav-level-2,
.tabs>.dropdown-nav-item>ul {
    background: #32302F !important;
}

/* Link color and icon links
 */
a,
.link-button,
button>i[class^="icon-"],
button>i[class*=" icon-"] {
    color: #BDAE93 !important;
}

/* Button
 */
.control-button,
input[type="submit"],
.button-link {
    border: 1px solid #BDAE93;
    background: transparent;
    color: #BDAE93;
}
.control-button:focus,
.control-button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button-link:hover {
    background: #BDAE93;
    color: #282828 !important;
}


/**************************************************************
 * IMPROVING READIBILITY
**/

/* Service and its output are slightly highlighted
 */
.selectable,
.icinga-module.module-monitoring .plugin-output {
    color: #BDAE93;
}

/* Dim links inside second column content area
 */
#col2 .content a,
#col2 .content button {
    opacity: 0.4;
}


/**************************************************************
 * ESSENTIALS
**/

/* Input types have foreground color
 */
button,
input,
optgroup,
select,
textarea {
    background: #665C54;
    color: #EBDBB2 !important;
    border: none;
}

/* NO hover decoration
 */
.tabs>li>a:hover {
    text-decoration: none;
}

/* Disabled pagination
 */
.pagination-control li.disabled {
    color: #3C3836;
}

/* Table headers are alwas in bold 
 */
th,
label {
    font-weight: bold !important;
}

/* Blockquote
 */
.icinga-module.module-monitoring .plugin-output {
    border-color: #928374;
}


/* Firefox feature for custom scoll bars \o/
 */
body {
    scrollbar-color: #3C3836 #282828;
}


/* Tell the user what scheme is used in a really intelligent way.
 */
#about>table:after {
    position: relative;
    top: 8px;

    /* Fix the table!! */
    margin-left: -200px;
    left: 100px;

    /* Strawberry topping */
    padding: 4px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .05);

    content: "Gruvbox scheme V1/20191117";
}


/**************************************************************
 * MONITORING COLORS
**/

/* Green
 */
.icinga-module.module-monitoring .state-col.state-ok,
.icinga-module.module-monitoring .state-col.state-up {
    background: transparent;
    border-left: 6px solid #98971A;
}
.icon-stateful.state-ok {
    color: #98971A;
}
.icinga-module.module-monitoring .service-grid-link.state-ok,
.icinga-module.module-monitoring div.box.ok_hosts.state_up {
    background: #98971A;
}

/* Warning
 */
.icinga-module.module-monitoring .state-col.state-warning {
    background: #FE8019;
    color: #282828;
}
.icinga-module.module-monitoring .state-col.state-warning.handled {
    background: transparent;
    border-left: 6px solid #D65D0E;
}
.icinga-module.module-monitoring .service-grid-link.state-warning {
    background: #FE8019;
}
.icinga-module.module-monitoring .service-grid-link.state-warning.handled {
    background: #D65D0E;
    border: 2px solid #FE8019;
}

/* Critical
 */
.icinga-module.module-monitoring .state-col.state-critical,
.icinga-module.module-monitoring .state-col.state-down {
    background: #FB4934;
    color: #282828;
}
.icinga-module.module-monitoring .state-col.state-critical.handled,
.icinga-module.module-monitoring .state-col.state-down.handled {
    background: transparent;
    border-left: 6px solid #CC241D;
}
.icinga-module.module-monitoring .service-grid-link.state-critical,
.icinga-module.module-monitoring div.box.problem_hosts.state_down {
    background: #FB4934;
}
.icinga-module.module-monitoring .service-grid-link.state-critical.handled {
    background: #CC241D;
    border: 2px solid #FB4934;
}

/* Unknown
 */
.icinga-module.module-monitoring .state-col.state-unknown {
    background: #D3869B;
    color: #282828;
}
.icinga-module.module-monitoring .state-col.state-unknown.handled {
    background: transparent;
    border-left: 6px solid #B16286;
}
.icinga-module.module-monitoring .service-grid-link.state-unknown {
    background: #D3869B;
}
.icinga-module.module-monitoring .service-grid-link.state-unknown.handled {
    background: #B16286;
    border: 2px solid #D3869B;
}

/* Pending
 */
.icinga-module.module-monitoring .state-col.state-pending {
    background: #83A598;
    color: #282828;
}


/**************************************************************
 * BADGE COLORS
**/
.badge {
    background: #1d2021;
    color: #fff !important;
}

.badge.state-ok,
.badge.state-up {
    background: #98971A;
}
.badge.state-warning {
    background: #FE8019;
}
.badge.state-warning.handled {
    background: #D65D0E;
}
.badge.state-critical,
.badge.state-down {
    background: #FB4934;
}
.badge.state-critical.handled {
    background: #CC241D;
}
.badge.state-unknown {
    background: #D3869B;
}
.badge.state-unknown.handled {
    background: #B16286;
}


/**************************************************************
 * BOTTOM NOTIFICATION PANEL COLORS
**/
#notifications>li.success {
    background: #b8bb26;
}
#notifications>li.warning {
    background: #FE8019;
}
#notifications>li.error {
    background: #FB4934;
}


/**************************************************************
 * HISTORY TIMELINE
**/
.icinga-module.module-monitoring .timeline-notification {
    background: #458588;
}
.icinga-module.module-monitoring .timeline-hard-state {
    background: #FE8019;
}
.icinga-module.module-monitoring .timeline-comment {
    background: #83A598;
}
.icinga-module.module-monitoring .timeline-ack {
    background: #D79921;
}
.icinga-module.module-monitoring .timeline-downtime-start {
    background: #928374;
}
.icinga-module.module-monitoring .timeline-downtime-end {
    background: #D5C4A1;
}


/**************************************************************
 * MONITORING HEALTH
**/
.icinga-module.module-monitoring div.backend-running {
    background: #98971A;
}
.icinga-module.module-monitoring div.backend-not-running {
    background: #FB4934;
}


/**************************************************************
 * LOGIN PAGE
**/
#login .login-form {
    background: #3C3836;
}
#icinga-logo.invert {
    background-image: url('../img/icinga-logo-big.svg');
}
#login-footer {
    color: #928374 !important;
}

#login .control-label {
    color: #A89984 !important;
}

#login input[type=submit] {
    background: #A89984;
    color: #282828 !important;
}
#login input[type=submit]:hover {
    background: #282828;
    color: #A89984 !important;
}