/**************************************************************
 * ICINGA DARK V7
 **************************************************************
 * BY DEHAHOST
**/

/**************************************************************
 * CORE
**/

/* Make key elements transparent and ready for darker colors.
*/
#layout,
#header,
#menu,
#login,
.icinga-module.module-monitoring .monitoring-statusbar:before,
.icinga-module.module-monitoring div.timeline-legend,
.icinga-module.module-monitoring .timeline-notification.extrapolated,
.icinga-module.module-monitoring .timeline-hard-state.extrapolated,
.icinga-module.module-monitoring div.box.stats
{
    background: transparent;
    color: #fff;
}

/* Remove bordering and shadow drop.
 */
h1,
#menu,
#layout.twocols #col2,
#layout:not(.minimal-layout).sidebar-collapsed #menu .nav-level-1 > .nav-item.hover > .nav-level-2,
#layout:not(.minimal-layout) #menu .nav-level-1 > .nav-item:not(.active).hover > .nav-level-2,
.tabs > .dropdown-nav-item > ul,
.tabs > .dropdown-nav-item > ul > li:hover > a,
#notifications > li,
.icinga-module.module-monitoring div.box.process,
.icinga-module.module-monitoring div.box.features,
.icinga-module.module-monitoring div.box.stats,
.icinga-module.module-monitoring .monitoring-statusbar,
.pagination-control li.active > a, .pagination-control li.active > a:hover
{
    box-shadow: none;
    border: none;
}


/* Dimmed tr border color
 */
tr {
    border-color: rgba(255, 255, 255, .1) !important;
    border-left: none !important;
}

/* Recolor focus color
*/
a:focus,
button:focus, 
input[type="checkbox"]:focus
{
    outline: 3px solid rgba(255, 255, 255, .24);
}

/* Fix transparent search input box
 */
input.search:focus {
    background-color: transparent;
    background-image: url('../img/icons/search_icinga_blue.png') no-repeat !important
}


/* Fix colors for some text elements and interactive elements with white background
 */
#login-footer, input, button, optgroup, select, textarea {
    color: #000;
}
/* Previous fix crippled these out, so let's fix them...
 */
input.search {
    color: #fff;
}

/* Disable arrow on the selected menu item
*/
#menu .nav-level-2 > .nav-item.active:after
{
    display: none;
}


/* Show user about the presence of this userstyle on System / About page.
 */
#about > .name-value-list:after {
    position: relative;
    top: 8px;
    
    /* Strawberry topping */
    padding: 0px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    
    content: "Icinga Dark V7/20191117 by dehahost";
}


/************************************************************** 
* DOC SECTION
**/

/* <pre> element background fix
 */
pre {
    background: rgba(255, 255, 255, .05);
}

/* table coloring fix
 */
.icinga-module.module-doc tbody > tr:nth-child(odd) {
    background: rgba(255, 255, 255, .03);
}
.icinga-module.module-doc tbody > tr:nth-child(even) {
    background: transparent;
}

/**************************************************************
* USERSTYLE OPTIONS
**/
